@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --cor-principal:#c7e99a;
    --cor-secundaria:#a7c6e9;
    --cor-texto:#da5cd3;
    --cor-de-fundo:#c1adf5;
    --fonte: "Dancing Script" ,sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 3px;
}

h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}

.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}

.cabecalho_titulo{
    font-size: 2rem;
    color: var(--cor-texto);
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--cor-texto);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition:  transform 0.1s;
}

.graficos-container {
    margin: 5rem;
}

.graficos-container__texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--cor-secundaria) solid 2px;
}

span {
    font-weight: bold;
    color: var(--cor-secundaria);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}